---
---

<div class="bg-gray-800 relative">
	<span
		class="absolute z-10 w-full h-52 xl:h-56 bg-top-layer -top-20 bg-no-repeat bg-fit"
	>
	</span>
	<div class="relative pb-10">
		<div class="absolute inset-0 bg-about bg-center bg-cover bg-no-repeat bg-fixed">
			<div
				class="absolute inset-0 bg-gray-800 mix-blend-multiply"
				aria-hidden="true"
			>
			</div>
		</div>
		<div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
			<h2
				class="text-3xl font-bold tracking-tight text-white sm:text-4xl lg:text-5xl"
			>
				About us
			</h2>
			<p class="mt-6 max-w-3xl text-xl text-indigo-100">
				Mattis amet hendrerit dolor, quisque lorem pharetra. Pellentesque lacus
				nisi urna, arcu sociis eu. Orci vel lectus nisl eget eget ut
				consectetur. Sit justo viverra non adipisicing elit distinctio.
			</p>
		</div>
	</div>
	<span
		class="absolute z-10 w-full h-52 xl:h-56 bg-bottom-layer2 -bottom-10 bg-no-repeat bg-fit"
	>
	</span>
</div>
