---
import VideoModal from "./VideoModal";
---

<div class="relative overflow-hidden bg-white pt-16 pb-32" id="games">
	<div class="relative">
		<div
			class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
		>
			<div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
				<div>
					<div class="mt-6">
						<h2
							class="mt-4 text-3xl font-bold tracking-wide text-gray-900 sm:text-4xl md:text-5xl"
						>
							Far North Survival
						</h2>
						<p class="mt-4 text-lg text-gray-500">
							Pozostawiony sam ze sobą na lodowej pustyni, masz za zadanie
							przetrwać z podstawowym sprzętem, który posiadasz. Twoimi
							towarzyszami są Twoje wierne psy zaprzęgowe, z którymi wyruszasz w
							podróż, która odmieni zarówno Twoje ciało, jak i duszę.
							<br />
							<br />

							Będziesz musiał zbudować schronienie, naprawić sprzęt i upolować
							jedzenie, używając zarówno nowoczesnych karabinów, jak i
							tradycyjnych narzędzi myśliwskich Eskimosów. Jednak największym
							wrogiem nie jest głód, lecz pogoda. Będziesz musiał zadbać o
							ciepło i zdrowie, ale co ważniejsze, będziesz musiał dbać o swoje
							psy zaprzęgowe, utrzymując je w dobrej kondycji.
						</p>
						<div class="mt-6 space-x-4">
							<a
								href="#"
								class="inline-flex rounded-lg bg-gray-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-gray-900 hover:ring-indigo-700"
								>Add to wishlist</a
							>
							<VideoModal videoYT="MwYUIA4UjiA" client:idle/>
						</div>
					</div>
				</div>
				
			</div>
			<div class="mt-12 sm:mt-16 lg:mt-0">
				<div
					class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0"
				>
					<img
						class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
						src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg"
						alt="Inbox user interface"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-24">
		<div
			class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
		>
			<div
				class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0"
			>
				<div>
					<div class="mt-6">
						<h2
							class="mt-4 text-3xl font-bold tracking-wide text-gray-900 sm:text-4xl md:text-5xl"
						>
							Restoration Master
						</h2>
						<p class="mt-4 text-lg text-gray-500">
							Zostań mistrzem renowacji/odrestaurowywania i odkryj swoje
							nieznane umiejętności! Odkręcaj, piłuj, spawaj, szlifuj, usuwaj
							rdzę, maluj i zarabiaj! Naprawiaj i przywracaj bardzo szczegółowe
							i interaktywne obiekty.
							<br />
							<br />
							W swoim prywatnym, dobrze wyposażonym garażu znalazłeś swój prywatny
							azyl, w którym oddajesz się swojemu największemu hobby! Kolekcjonuj
							rupiecie, kupuj uszkodzone przedmioty od sąsiadów lub na pchlim targu,
							przywracaj je do świetności i ciesz się zarobionymi pieniędzmi! Rozwijaj
							swój garaż, ulepszaj sprzęt potrzebny do renowacji coraz bardziej skomplikowanych
							obiektów.
						</p>
						<div class="mt-6">
							<a
								href="#"
								class="inline-flex rounded-lg bg-gray-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-gray-900 hover:ring-indigo-700"
								>Add to wishlist</a
							>
							<VideoModal videoYT="SCK3gJQFafE" client:idle/>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
				<div
					class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0"
				>
					<img
						class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
						src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg"
						alt="Customer profile user interface"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
